<div class="panel panel-default row container-fluid">
	<div class="col-xs-12 col-md-9">
		<div class="well">
			<h5 class="text-info">
				<ul class="nav nav-pills" role="group" aria-label="...">
					<li role="presentation"><button class="btn btn-xs"><strong>全部</strong></button></li>
					<li role="presentation"><button class="btn btn-xs"><strong>精华</strong></button></li>
					<li role="presentation"><button class="btn btn-xs"><strong>问答</strong></button></li>
					<li role="presentation"><button class="btn btn-xs"><strong>分享</strong></button></li>
					<li role="presentation"><button class="btn btn-xs"><strong>招聘</strong></button></li>
				</ul>
			</h5>
			<div class="list-group-item row cell" ng-repeat="post in posts">
				<a href=""><img src="{{post.img}}" alt="" class="img img-rounded"></a>
				<span><label class="label label-default"><i>{{post.title}}</i></label></span>
				<span><label class="label label-info">{{post.followe_count}}/{{post.reply_count}}</label></span>
				<span><label class="label label-primary">{{post.type}}</label></span>
				<span><a href="#"><b class="text-info">{{post.post}}</b></a></span>
				<a href="#" class="pull-right"><img src="{{post.img}}" alt="" class="img1 img-rounded"><span class="badge">{{post.timeout}}</span></a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<div class="well">
			<h5 class="text-info"><strong>个人信息</strong></h5>
			<div class="row">
				<div class="col-md-2"><img class="img-rounded"src="images/favicon.ico" alt=""></div>
				<div class="col-md-10">{{user.name}}</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-11">
					<label>积分：</label><label class="label label-primary">{{user.score}}</label>
				</div>
			</div>
		</div>
		<div class="well">
			<a type="button" class="btn btn-success" ng-click="newpost()"><strong>发布话题</strong></a>
		</div>
		<div class="well">
			<h5 class="text-info"><strong>无人回答问题</strong></h5>
			<div class="list-group-item row" ng-repeat="post in posts">
				<a href="#" >{{post.post}}</a>
			</div>
		</div>
		<div class="well">
			<h5 class="text-info"><strong>积分榜 <a href="#">Top 100 >></a></strong></h5>
			<div  class="list-group-item row" ng-repeat="score in scores">
			  	<div class="col-md-3">{{score.score}}</div>
			  	<div class="col-md-9"><a href="#">{{score.user}}</a></div>
			</div>
		</div>

	</div>
</div>

